/***********************************************
*   BODY AND COLUMN STYLES
*/
body {
    background: linear-gradient(135deg, #585858 0%,#2e2e2e 100%);
    height: 100vh;
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1300px;
}
.column {
    padding: 0;
    margin: 10px 5px;
}
.col-notes {
    width: 318px;
}
.col-narrow {
    width: 113px;
}
.col-middle {
    width: 418px;
}
.col-links {
    width: 215px;
}


/***********************************************
*   BOX STYLES
*/
::-webkit-scrollbar { 
    display: none; 
}
.box {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;   
    background-color: rgba(255, 255, 255, 0.2);
}
.box-notes {
    height: 500px;
}
.box-narrow {
    height: 740px;
}
.box-links {
    height: 365px;
}
.box-welcome {
    padding: 10px;
}
.box-middle {
    padding: 5px 10px;
}
.box-title {
    color: darkorange;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.tile-wrapper {
    height: 305px;
    overflow-y: scroll;
}
.tile-wrapper-narrow {
    height: 677px;
    overflow-y: scroll;
}
/***********************************************
*   LINK TILE STYLES
*/
.tile {
    float: left;
    width: 95px;
    height: 95px;
    margin: 3px;
    background-color: hsl(33, 0%, 30%);
    border: 1px solid hsl(33, 0%, 30%);
    overflow: hidden;
}
.tile-content {
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'BenchNine', sans-serif;
}
.tile-content img{
    max-width: 80%; /*filler*/
}

/***********************************************
*   WELCOME AND WEATHER STYLES
*/
.separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
h1 {
    color: darkorange;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5rem;
}
p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.emp {
    font-weight: 700;
    color: darkorange;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/***********************************************
*   SEARCH BOX STYLES
*/
.search {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}
.form-control:focus {
    border-color: darkorange;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 140, 0, 0.8);
}
.tab-btn {
    color: darkorange;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.tab-btn:hover {
    color: white;
}
.active-tab {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

/***********************************************
*   DAILY KOREAN STYLES
*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    width: 100%;
    height: 63px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: .5rem;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front, .flip-card-back {
    background: linear-gradient(135deg, white 50%, rgb(185, 185, 185) 100%);
    color: black;
}
.card-text-wrapper {
    width: 100%;
    height: 100%;
    padding: .4rem;
    display: table;  
}
.card-text {
    display: table-cell;
    vertical-align: middle;
}
.flip-card-front {
    font-weight: bolder;
}
/* Style the back side */
.flip-card-back {
    transform: rotateX(180deg);
}
#reload-korean {
    font-size: 1.3rem;
    margin-left: .5rem;
}
#reload-korean:hover {
    color: white;
}

/***********************************************
*   MODAL STYLES
*/
.modal {
    color: rgb(51, 51, 51);
}
.modal-header {
    background: linear-gradient(135deg, #585858 0%,#2e2e2e 100%) !important;
}
.modal span {
    color: white !important;
}
.modal h5 {
    color: darkorange;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.modal a {
    color: rgb(51, 51, 51);
}
.modal a:hover {
    color: darkorange;
    text-decoration: none;
}
/***********************************************
*   NOTES STYLES
*/
.notes-wrapper {
    height: 435px;
    margin: 0px 5px;
    overflow-y: scroll;
}
.note {
    background: linear-gradient(135deg, #585858 0%,#414141 100%);
    padding: 5px;
    margin-bottom: 5px;
}
.note p {
    margin-bottom: 15px;
}
.inactive {
    color: grey !important;
}
.note a {
    color: darkorange;
}
.note a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.icon-btn {
    float: right;
    margin-left: 5px;
}
.icon-btn:hover, .add-btn:hover {
    cursor: pointer;
    color: darkorange;
}
.added-at {
    font-weight: 300;
    font-family: 'BenchNine', sans-serif;
}
.add-note-wrapper {
    height: 115px;
}
textarea, #password {
    resize: none;
    background: linear-gradient(135deg, #585858 0%,#414141 100%);
    color: white !important;
}
textarea::placeholder, #password::placeholder {
    color: rgb(189, 189, 189) !important;  
}
.save {
    float: right;
    font-size: 1.5rem;
}
.add-br {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(90deg);
}